A1/inxsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dealer">
          <xs:annotation>
            <xs:documentation>The dealer submitting the order</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dealerid">
                <xs:annotation>
                  <xs:documentation>The dealer ID, identifies the dealer. Must validate that the dealer is a known
 dealer.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="dealeraccesskey">
                <xs:annotation>
                  <xs:documentation>The dealer access key, used by the security class to authenticate the dealer.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="orderitems">
          <xs:annotation>
            <xs:documentation>A list of items order by the dealer.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>An item in the list of items ordered by the dealer.  Another item, there can be an unlimited number of items in the orderitems list.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="partnumber">
                      <xs:annotation>
                        <xs:documentation>The part number to submit to PARTMANAGER.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element type="xs:byte" name="quantity">
                      <xs:annotation>
                        <xs:documentation>The quantity ordered to submit to PARTMANAGER.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="deliveryaddress">
          <xs:annotation>
            <xs:documentation>The delivery address to send the parts to.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name">
                <xs:annotation>
                  <xs:documentation>The name field can be blank.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="street">
                <xs:annotation>
                  <xs:documentation>The street is required.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="city">
                <xs:annotation>
                  <xs:documentation>The city is required.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="province">
                <xs:annotation>
                  <xs:documentation>The province is required.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="postalcode">
                <xs:annotation>
                  <xs:documentation>The postal code is required.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>